
<%= render 'shared/header' %>

<div class="container">

<h2>アカウント設定</h2>


  <%= form_for @user do |f| %>

  <%= f.label :名前 %><br>

  <%= f.text_field :name %><br>

  <%= f.label :プロフィール %><br>

  <%= f.text_field :profile %><br>

  <%= f.submit 'send' %>


  <% end %>




</div>



<%= render 'shared/footer' %>
