

<%= render 'shared/header' %>

<div class="container user-show-main">

  <div class="user-show row">

    <div class="user-show-left col-md-4">
      <%= image_tag @user.icon.url ,:size => "140x140", :class => "img-circle" %>
    </div>

    <div class="user-show-right col-md-8">
      <p><%= @user.name %></p>
      <p><%= @user.profile %></p>
    </div>

  </div>

   <div class="">
    <% if @user.dogposts.any? %>
      <h3 class="image-count">写真 ( <%= @user.dogposts.count %> )</h3>

       <div class="dogposts">
          <%= render @dogposts %>
        </div>

    <% end %>

  </div>




</div>
<!-- container -->



<%= render 'shared/footer' %>
