<%= render 'shared/header' %>


<div class="container">
  <div class="dogposts-new">
    <h2>写真を投稿する</h2>

    <%= form_for @dogpost do |f| %>

    <%= f.label "コメント" %>
    <%= f.text_field :comment %>

    <%= f.submit "投稿する" %>


    <% end %>






  </div>
<!-- dogposts-new -->


</div>
<!-- container -->


<%= render 'shared/footer' %>
